.container-main__menu {
  display: flex;
  background-color: #e3e8f2;
  color: #4366a6;

  &--list-contacts {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    li {
      &:first-child {
        font-weight: bold;
      }
    }
  }
}

.container-main__contacts {
  display: flex;
  flex-direction: column;
  overflow: overlay;
  height: 400px;
  padding-left: 25px;
  padding-right: 25px;

  &--profile {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    margin-top: 14px;
    padding-bottom: 14px;

    &--info {
      display: flex;
      flex-direction: row;

      &--photo {
        max-width: 40px;
        min-width: 40px;
        max-height: 40px;
        min-height: 40px;
        border-radius: 50%;

        img {
          border-radius: 50%;
          border: 1px solid;
        }
      }

      .info-contacto {
        margin-left: 14px;
        padding-top: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nombre-contacto {
          text-decoration: underline;
        }
      }
    }

    &:last-child {
      border-bottom: 0px;
    }
  }
}
