// MAIN

body {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    ),
    url(https://th.bing.com/th/id/R.57afc123c1d0b7d334c9a928a888773b?rik=JxNUOZFZ9XkvJw&riu=http%3a%2f%2fvillanuevadelfresno.hoy.es%2farchivos%2f201309%2fimg_9627.jpg&ehk=UaRB69pHxS87fQ58tjgAIT7XxV95YhrBViR1JYUmtH0%3d&risl=&pid=ImgRaw&r=0);
  background-repeat: no-repeat;
  background-size: 100% 111%;
  background-position-x: center;

  main {
    .container-sections {
      &__events,
      &__mails,
      &__contacts,
      &__notifications,
      &__projects {
        .container-main {
          border: none;
          background-color: white;
          border-radius: 6px;
          box-shadow: 0px 0px 10px 0px gray;

          &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            background-color: #4366a6;
            height: 55px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            &--icon {
              display: flex;
              margin-left: 25px;

              &--text {
                margin-left: 12px;
              }
            }

            &--dots {
              margin-right: 20px;
            }
          }

          &__menu {
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
          }

          &__see-more {
            height: 45px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            border-top: solid 1px gray;
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  [class*="col-"] {
    padding: 12px;
  }

  body {
    main {
      .container-sections {
        &__notifications {
          bottom: 125px;
        }

        &__projects {
          .proyectos {
            margin-top: 0px;
          }
        }

        .col-xlg-3 {
          width: 24.8%;
        }

        .col-xlg-6 {
          width: 49.8%;
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .container-sections {
    &__notifications {
      bottom: 125px;
    }

    &__projects {
      bottom: 8px;
    }

    .col-lg-4 {
      width: 32.8%;
    }
  }
}

@media (min-width: 786px) and (max-width: 1023px) {
  .container-sections {
    .col-md-6 {
      width: 49.7%;
    }

    .col-md-12 {
      width: 99.9%;
    }

    .contactos {
      position: inherit;
      bottom: 97px;
    }

    .proyectos {
      position: inherit;
      bottom: 100px;
    }
  }
}

@media (min-width: 600px) and (max-width: 785px) {
  .container-sections {
    .col-sm-6 {
      width: 49.6%;
    }

    .contactos {
      bottom: 125px;
      position: inherit;
    }
    
    .proyectos {
      position: inherit;
      bottom: 120px;
    }
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .container-sections {
    display: flex;
    flex-direction: column;

    &__events {
      order: 0;
    }

    &__mails {
      order: 2;
    }

    &__contacts {
      order: 4;
    }

    &__notifications {
      order: 1;
    }

    &__projects {
      order: 3;
    }
  }
}
