@charset "UTF-8";
header {
  display: flex; }

.container-background {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 0 31px;
  padding: 13px 50px 13px 50px;
  box-shadow: 0 2px 6px 0 rgba(153, 153, 153, 0.63);
  background-image: linear-gradient(to left, #859603, #207e8e 50%); }
  .container-background .container-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    .container-background .container-nav__big {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .container-background .container-nav__big--logo {
        display: flex;
        flex-direction: row;
        font-size: 17px; }

.container-nav__big--logo .everis {
  width: 45.5px;
  height: 18px;
  color: white; }
.container-nav__big--logo .knowler {
  width: 65.9px;
  height: 18px;
  margin: 0 0 0 0;
  color: #fff;
  font-weight: bold; }

.container-nav__big--search {
  width: 560px;
  display: flex;
  flex-direction: row; }
  .container-nav__big--search .rectangulo {
    position: absolute;
    width: 510px;
    height: 40px;
    margin: 4px 28px 2px;
    padding: 9px 19.2px 10px 12px;
    border: 0px;
    border-radius: 4px; }
  .container-nav__big--search .icon {
    position: relative;
    padding: 16px;
    color: black;
    width: 525px;
    text-align: right; }

.container-nav__big--menu {
  display: flex;
  flex-direction: row; }
  .container-nav__big--menu ul {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .container-nav__big--menu ul .iconos {
      align-self: center;
      text-align: center;
      padding-right: 35px; }
    .container-nav__big--menu ul .bi {
      font-size: 23px; }
    .container-nav__big--menu ul a {
      color: white; }
    .container-nav__big--menu ul p {
      font-size: 13px; }

.container-nav__big--profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 110px;
  justify-content: space-around; }
  .container-nav__big--profile .container-bell {
    display: flex;
    position: relative;
    height: 49px;
    width: 50px;
    font-size: 25px;
    align-items: center;
    justify-content: center; }
    .container-nav__big--profile .container-bell i {
      color: white; }
    .container-nav__big--profile .container-bell .numero-notificaciones {
      position: absolute;
      color: white;
      right: 10px;
      top: 10px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: red;
      text-align: center;
      font-size: 10px;
      font-weight: bold; }
  .container-nav__big--profile .container-deploy {
    color: white;
    font-size: 15px; }

.container-photo {
  width: 35px;
  height: 35px;
  background: #207e8e;
  border-radius: 50%;
  border: solid 1px white; }

.container-nav__320 {
  display: none; }

#hamburguesa {
  display: none;
  flex-direction: row;
  width: 50px;
  height: 50px;
  padding: 10px; }

#boton-menu {
  display: none; }

@media (min-width: 1024px) and (max-width: 1279px) {
  .container-background {
    padding: 13px 20px 13px 20px;
    margin: 0 0 18px; }
    .container-background .container-nav {
      justify-content: space-between; }
    .container-background .logo {
      letter-spacing: 1px;
      font-size: 16px; }
      .container-background .logo .everis {
        width: 48px; }
      .container-background .logo .knowler {
        letter-spacing: 2px; }
    .container-background .container-nav__big--search {
      width: 350px; }
      .container-background .container-nav__big--search .icon {
        width: 335px; }
      .container-background .container-nav__big--search .rectangulo {
        width: 315px;
        margin: 4px 23px 2px; }
    .container-background .container-nav__big--menu ul .iconos {
      padding-left: 9px;
      padding-right: 22px; } }
@media (min-width: 786px) and (max-width: 1023px) {
  .container-nav__big--menu {
    display: none; }

  .container-background {
    padding: 13px 15px 13px 15px; }

  .container-nav__320 {
    display: block; }
    .container-nav__320--logo {
      display: none; }
    .container-nav__320--search {
      display: none; }

  #hamburguesa {
    display: block;
    font-size: 30px;
    color: white; }

  .container-nav__big--search {
    width: auto; }
    .container-nav__big--search .rectangulo {
      width: 400px; }
    .container-nav__big--search .icon {
      width: 420px; } }
@media (min-width: 600px) and (max-width: 785px) {
  .container-background {
    padding: 13px 30px 13px 30px; }

  .container-nav__big--search .rectangulo {
    width: 210px; }

  .container-nav__320 {
    display: block; }
    .container-nav__320--logo {
      display: none; }
    .container-nav__320--search {
      display: none; }

  #hamburguesa {
    display: block;
    font-size: 30px;
    color: white; }

  .container-nav__big--menu {
    display: none; }

  .container-nav__big--search {
    width: 265px; }
    .container-nav__big--search .icon {
      width: 235px; } }
@media (min-width: 320px) and (max-width: 599px) {
  .container-background {
    padding: 3px 15px 13px 3px;
    margin: 0; }
    .container-background .container-nav__big {
      display: none; }

  .container-nav__big--search {
    display: none; }

  .container-nav__big--menu {
    display: none; }

  .container-nav__320 {
    display: flex; }
    .container-nav__320--burger {
      display: block; }
    .container-nav__320--logo {
      display: flex;
      align-items: center;
      width: 50px;
      margin-top: 10px; }
    .container-nav__320--search {
      color: white;
      font-size: 20px; }

  #hamburguesa {
    display: block;
    font-size: 30px;
    color: white; } }
body {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white), url(https://th.bing.com/th/id/R.57afc123c1d0b7d334c9a928a888773b?rik=JxNUOZFZ9XkvJw&riu=http%3a%2f%2fvillanuevadelfresno.hoy.es%2farchivos%2f201309%2fimg_9627.jpg&ehk=UaRB69pHxS87fQ58tjgAIT7XxV95YhrBViR1JYUmtH0%3d&risl=&pid=ImgRaw&r=0);
  background-repeat: no-repeat;
  background-size: 100% 111%;
  background-position-x: center; }

.container-main {
  border: none;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px gray; }
  .container-main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #4366a6;
    height: 55px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .container-main__header--icon {
      display: flex;
      margin-left: 25px; }
    .container-main__header .texto-main {
      margin-left: 12px; }
    .container-main__header--dots {
      margin-right: 20px; }
  .container-main__menu {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .container-main__see-more {
    height: 45px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-top: solid 1px gray; }

.eventos {
  height: 400px; }

.mails {
  height: 533px; }

.contactos {
  height: 500px; }

.notificaciones1 {
  margin-top: -114px;
  height: 400px; }

.proyectos {
  margin-top: 12px;
  height: 500px; }

@media (min-width: 1280px) {
  [class*="col-"] {
    padding: 12px; }

  .container-sections__notifications {
    margin-top: -125px; }

  .proyectos {
    margin-top: 0px; }

  .col-xlg-3 {
    width: 24.8%; }

  .col-xlg-6 {
    width: 49.8%; } }
@media (min-width: 1024px) and (max-width: 1279px) {
  .col-lg-4 {
    width: 32.8%; }

  .container-sections__notifications {
    margin-top: -125px; }
  .container-sections__projects {
    margin-top: -8px; }

  .proyectos .menu-encabezado-contenedores-main-proyecto .container-estados {
    width: 100%; } }
@media (min-width: 786px) and (max-width: 1023px) {
  .col-md-6 {
    width: 49.7%; }

  .col-md-12 {
    width: 99.9%; }

  .notificaciones1 {
    margin-top: auto; }

  .contactos {
    margin-top: -100px; }

  .menu-encabezado-contenedores-main-proyecto {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; } }
@media (min-width: 600px) and (max-width: 785px) {
  .col-sm-6 {
    width: 49.6%; }

  .notificaciones1 {
    margin-top: 0px; }

  .contactos {
    margin-top: -100px; }

  .container-main {
    width: 100%; }

  .proyectos .menu-encabezado-contenedores-main-proyecto .container-estados {
    width: 100%; } }
@media (min-width: 320px) and (max-width: 599px) {
  .container-sections {
    display: flex;
    flex-direction: column; }
    .container-sections__events {
      order: 0; }
    .container-sections__mails {
      order: 2; }
    .container-sections__contacts {
      order: 4; }
    .container-sections__notifications {
      order: 1; }
    .container-sections__projects {
      order: 3; }
    .container-sections .col-xs-12 {
      width: 99.9%; }
    .container-sections .notificaciones1 {
      margin-top: auto; }
    .container-sections .contactos {
      margin-top: auto; } }
.container-main__events {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  height: 300px;
  justify-content: space-evenly; }
  .container-main__events--hour {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .container-main__events--hour .info-hora {
      margin-left: 10px; }
      .container-main__events--hour .info-hora .enlace-evento {
        text-decoration: underline; }
        .container-main__events--hour .info-hora .enlace-evento a {
          font-weight: bold; }

.hora {
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #4366a6;
  border-radius: 50%; }

.container-main__mails {
  height: 430px;
  padding-left: 25px;
  padding-right: 25px; }
  .container-main__mails--message {
    height: calc(100% / 3);
    border-bottom: 1px solid gray; }
    .container-main__mails--message:last-child {
      border-bottom: 0px; }
    .container-main__mails--message .datetime {
      font-size: 13px;
      padding-top: 15px; }
    .container-main__mails--message .perfil-mail {
      display: flex;
      padding-top: 11px;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center; }
      .container-main__mails--message .perfil-mail .imagen-mail {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 5px; }
        .container-main__mails--message .perfil-mail .imagen-mail img {
          border-radius: 50%;
          border: 1px solid; }
    .container-main__mails--message .enlace-mensaje {
      font-size: 15.3px;
      padding-top: 7px;
      text-decoration: underline; }
    .container-main__mails--message .texto-mensaje {
      padding-top: 5px;
      height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: justify; }

.container-main__menu {
  display: flex;
  background-color: #e3e8f2;
  color: #4366a6; }
  .container-main__menu--list-contacts {
    display: flex;
    width: 100%;
    justify-content: space-around; }
  .container-main__menu nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; }
    .container-main__menu nav li:first-child {
      font-weight: bold; }

.container-main__contacts {
  display: flex;
  flex-direction: column;
  overflow: overlay;
  height: 400px;
  padding-left: 25px;
  padding-right: 25px; }
  .container-main__contacts--profile {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    margin-top: 14px;
    padding-bottom: 14px; }
    .container-main__contacts--profile--info {
      display: flex;
      flex-direction: row; }
      .container-main__contacts--profile--info--photo {
        max-width: 40px;
        min-width: 40px;
        max-height: 40px;
        min-height: 40px;
        border-radius: 50%; }
        .container-main__contacts--profile--info--photo img {
          border-radius: 50%;
          border: 1px solid; }
      .container-main__contacts--profile--info .info-contacto {
        margin-left: 14px;
        padding-top: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .container-main__contacts--profile--info .info-contacto .nombre-contacto {
          text-decoration: underline; }
    .container-main__contacts--profile:last-child {
      border-bottom: 0px; }

.container-main__notifications {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  height: 300px; }
  .container-main__notifications--info {
    display: flex;
    flex-direction: column;
    padding-top: 15px; }
    .container-main__notifications--info:last-child {
      border-bottom: 0px; }
    .container-main__notifications--info .container-checkbox {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 5px; }
      .container-main__notifications--info .container-checkbox .texto-checkbox {
        width: 180px; }
        .container-main__notifications--info .container-checkbox .texto-checkbox label {
          font-weight: bold; }
    .container-main__notifications--info .skm {
      padding-top: 5px; }

.fecha-tope {
  display: flex;
  align-items: center;
  padding-top: 5px; }

.exclamacion {
  color: orange;
  font-size: 12px;
  margin-right: 5px; }

hr {
  width: 100%;
  height: 0.5px; }

/********* CHECKBOX PERSONALIZADO **********/
/* El contenedor */
.container {
  display: block;
  position: relative;
  padding-left: 0;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Ocultar la casilla de verificación predeterminada del navegador */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Crear una casilla de verificación personalizada */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  /*background-color: blue;*/
  border: solid 2px #bdc582; }

/* Al pasar el ratón por encima, agregue un color de fondo verde */
.container:hover input ~ .checkmark {
  background-color: #bdc582; }

/* Cuando la casilla de verificación esté marcada, agregue un fondo blanco */
.container input:checked ~ .checkmark {
  background-color: white; }

/* Crear la marca de verificación / indicador (oculto cuando no está marcado) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Mostrar la marca de verificación cuando está marcada */
.container input:checked ~ .checkmark:after {
  display: block; }

/* Aplicar estilo a la marca de verificación / indicador */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #bdc582;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.container-main__menu {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #e3e8f2;
  color: #4366a6; }
  .container-main__menu--status {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 65%; }
    .container-main__menu--status .status-project {
      display: flex;
      justify-content: center;
      height: 43px;
      align-items: center;
      width: calc(100% / 3); }
      .container-main__menu--status .status-project:first-child {
        border-bottom: 2px solid #4366a6; }
        .container-main__menu--status .status-project:first-child a {
          font-weight: bold; }

.container-main__projects {
  display: flex;
  flex-direction: column;
  height: 353px;
  padding-left: 25px;
  padding-right: 25px; }
  .container-main__projects--info {
    display: flex;
    flex-direction: column;
    height: calc(100% / 3);
    border-bottom: 1px solid gray; }
    .container-main__projects--info--name {
      padding-top: 20px;
      text-decoration: underline; }
      .container-main__projects--info--name a {
        font-weight: bold; }
    .container-main__projects--info--type {
      padding-top: 8px; }
    .container-main__projects--info--buttons {
      padding-top: 10px;
      display: flex;
      flex-direction: row; }
      .container-main__projects--info--buttons--button-one {
        width: 60px;
        height: 25px;
        border-radius: 12px;
        background-color: #e8eeb3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        margin-right: 13px; }
      .container-main__projects--info--buttons--button-two {
        width: 125px;
        height: 25px;
        border-radius: 12px;
        background-color: #e8eeb3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        margin-right: 13px; }
      .container-main__projects--info--buttons--button-three {
        width: 35px;
        height: 25px;
        border-radius: 12px;
        border: 2px solid #e8eeb3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 12px; }
    .container-main__projects--info:last-child {
      border-bottom: 0px; }

@media (min-width: 1024px) and (max-width: 1279px) {
  .container-main__menu--status {
    width: 100%; } }
@media (min-width: 600px) and (max-width: 785px) {
  .container-main__menu {
    width: 100%; }
    .container-main__menu--status {
      display: flex;
      justify-content: space-around;
      width: 100%; }
      .container-main__menu--status .current {
        order: 1; }
      .container-main__menu--status .related {
        order: 3; }
      .container-main__menu--status .closed {
        order: 2; } }
@media (min-width: 320px) and (max-width: 599px) {
  .container-main__menu--status {
    width: 100%; }

  .current {
    order: 1; }

  .related {
    order: 3; }

  .closed {
    order: 2; }

  .container-main__projects--info--buttons--button-one {
    font-size: 10px; }
  .container-main__projects--info--buttons--button-two {
    font-size: 10px; }
  .container-main__projects--info--buttons--button-three {
    font-size: 10px; } }

/*# sourceMappingURL=skmo-modules.css.map */
