<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/front-modules.css" />
    <link rel="stylesheet" href="skmo/skmo-css/skmo-modules.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <script type="text/javascript" src="../libs/dependencies.js"></script>
    <script type="module" src="../js/front-dev.js"></script>
    <script
      src="https://kit.fontawesome.com/6796faa355.js"
      crossorigin="anonymous"
    ></script>
    <title>Index | Front Seed</title>
  </head>

  <body>
    <!-- ********** ECABEZADO ********** -->
    <header>
      <!-- Fondo header -->
      <div class="container-background">
        <nav class="container-nav">
          <!-- Diseño para pantallas 320px -->
          <div class="container-nav__320">
            <!-- Hamburguesa 320px -->
            <div class="container-nav__320--burger">
              <input type="checkbox" id="boton-menu" />
              <label id="hamburguesa" for="boton-menu"
                ><i class="bi bi-list" alt="menu desplegable"></i
              ></label>
            </div>

            <!-- Logotipo 320px -->
            <div class="container-nav__320--logo">
              <div class="logo-320">
                <div>
                  <img
                    src="https://images.squarespace-cdn.com/content/v1/5c52b2063917ee2ea23f9031/1579517425844-PB8BHE5EYVVF87O5FM4C/everis-logo.png"
                    alt="logo pequeño empresa"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- Diseño para el resto de tamaños -->
          <div class="container-nav__big">
            <!-- Logotipo -->
            <div class="container-nav__big--logo">
              <div class="everis">everis</div>
              <div class="knowler">knowler</div>
            </div>

            <!-- Buscador -->
            <div class="container-nav__big--search">
              <input
                type="text"
                class="rectangulo"
                placeholder="proyecto skm"
              />
              <i class="bi bi-search icon" alt="icono lupa busqueda"></i>
            </div>

            <!-- Lista menus -->
            <div class="container-nav__big--menu">
              <ul>
                <li class="iconos">
                  <a href="#"
                    ><i class="bi bi-house-door-fill"></i>
                    <p>Inicio</p>
                  </a>
                </li>
                <li class="iconos">
                  <a href="#"
                    ><i class="bi bi-grid-3x3-gap-fill"></i>
                    <p>Aplicaciones</p>
                  </a>
                </li>
                <li class="iconos">
                  <a href="#"
                    ><i class="bi bi-globe"></i>
                    <p>Comunidades</p>
                  </a>
                </li>
                <li class="iconos">
                  <a href="#"
                    ><i class="bi bi-boxes"></i>
                    <p>everPedia</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <!-- Contenedor Perfil -->
          <div class="container-nav__big--profile">
            <!-- Contenedor Lupa para pantallas 320px -->
            <div class="container-nav__320">
              <div class="container-nav__320--search">
                <div>
                  <i class="bi bi-search" alt="icono lupa busqueda"></i>
                </div>
              </div>
            </div>

            <!-- Contenedro campanita -->
            <div class="container-bell">
              <a href="#"
                ><i class="bi bi-bell-fill"></i>
                <div class="numero-notificaciones">7</div>
              </a>
            </div>

            <!-- Contenedor foto perfil -->
            <div class="container-photo">
              <div class="foto">
                <img src="../../assets/images/klipartz.com.png" alt="" />
              </div>
            </div>

            <!-- Contendor flecha desplegable -->
            <div class="container-deploy">
              <a><i class="bi bi-caret-down-fill"></i></a>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <!-- ********** MAIN ********** -->
    <main>
      <div
        class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 container-sections"
      >
        <!-- EVENTOS -->
        <section
          class="col-xlg-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 container-sections__events"
        >
          <div class="container-main">
            <div class="container-main__header">
              <div class="container-main__header--icon">
                <i class="bi bi-table"></i>
                <p class="container-main__header--icon--text">EVENTOS</p>
              </div>
              <div class="container-main__header--dots">
                <i class="bi bi-three-dots-vertical"></i>
              </div>
            </div>

            <div class="container-main__events">
              <div class="container-main__events--day">
                <p>HOY</p>
              </div>

              <div class="container-main__events--info">
                <div class="container-main__events--info--hour">11:00</div>
                <div class="container-main__events--info--description">
                  <div class="container-main__events--info--description--link">
                    <p><a href="#"> SKM Wireframes Checkpoint </a></p>
                  </div>
                  <div>
                    <p>11:00 a 12:00 - Sala 446</p>
                  </div>
                </div>
              </div>

              <div class="container-main__events--info">
                <div class="container-main__events--info--hour">13:00</div>
                <div class="container-main__events--info--description">
                  <div class="container-main__events--info--description--link">
                    <p><a href="#"> SKM chill out </a></p>
                  </div>
                  <div>
                    <p>13:00 a 13:40 - Sala 446</p>
                  </div>
                </div>
              </div>

              <div class="container-main__events--day">
                <p>MAÑANA</p>
              </div>

              <div class="container-main__events--info">
                <div class="container-main__events--info--hour">11:00</div>
                <div class="container-main__events--info--description">
                  <div class="container-main__events--info--description--link">
                    <p><a href="#"> SKM Wireframes check </a></p>
                  </div>
                  <div>
                    <p>11:00 a 12:00 - Sala 446</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-main__see-more">
              <div>
                <a href="#"> Ver más <i class="bi bi-chevron-down"></i></a>
              </div>
            </div>
          </div>
        </section>

        <!-- MAILS -->
        <section
          class="col-xlg-6 col-lg-4 col-md-6 col-sm-6 col-xs-12 container-sections__mails"
        >
          <div class="container-main mails">
            <!-- Encabezado sección mails -->
            <div class="container-main__header">
              <div class="container-main__header--icon">
                <i class="bi bi-envelope-fill"></i>
                <p class="container-main__header--icon--text">MAILS</p>
              </div>
              <div class="container-main__header--dots">
                <i class="bi bi-three-dots-vertical"></i>
              </div>
            </div>

            <!-- Cuerpo principal sección mails -->
            <div class="container-main__mails">
              <div class="container-main__mails--info">
                <div class="container-main__mails--info--datetime">20/06/2017 - 13:00</div>
                <div class="container-main__mails--info--profile">
                  <figure class="container-main__mails--info--profile--photo">
                    <img src="../../assets/images/perfil.jpg" alt="" />
                  </figure>
                  <p>Francisco Javier Fernández</p>
                </div>
                <div class="container-main__mails--info--link">
                  <a href="#">
                    <p>Nuevas versinoes de las pantallas</p>
                  </a>
                </div>
                <div class="container-main__mails--info--text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad
                    molestias nulla dolore eum deserunt veritatis praesentium
                    inventore amet quasi, ex sit explicabo tempore corrupti esse
                    beatae? Iusto amet fugiat quibusdam.
                  </p>
                </div>
              </div>

              <div class="container-main__mails--info">
                <div class="container-main__mails--info--datetime">20/06/2017 - 13:00</div>
                <div class="container-main__mails--info--profile">
                  <figure class="container-main__mails--info--profile--photo">
                    <img src="../../assets/images/perfil.jpg" alt="" />
                  </figure>
                  <p>Francisco Javier Fernández</p>
                </div>
                <div class="container-main__mails--info--link">
                  <a href="#">
                    <p>Nuevos datos password (Invision/Zeplin...</p>
                  </a>
                </div>
                <div class="container-main__mails--info--text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad
                    molestias nulla dolore eum deserunt veritatis praesentium
                    inventore amet quasi, ex sit explicabo tempore corrupti esse
                    beatae? Iusto amet fugiat quibusdam.
                  </p>
                </div>
              </div>

              <div class="container-main__mails--info">
                <div class="container-main__mails--info--datetime">20/06/2017 - 13:00</div>
                <div class="container-main__mails--info--profile">
                  <figure class="container-main__mails--info--profile--photo">
                    <img src="../../assets/images/perfil.jpg" alt="" />
                  </figure>
                  <p>Francisco Javier Fernández</p>
                </div>
                <div class="container-main__mails--info--link">
                  <a href="#">
                    <p>Nuevas versinones de las pantallas</p>
                  </a>
                </div>
                <div class="container-main__mails--info--text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad
                    molestias nulla dolore eum deserunt veritatis praesentium
                    inventore amet quasi, ex sit explicabo tempore corrupti esse
                    beatae? Iusto amet fugiat quibusdam.
                  </p>
                </div>
              </div>
            </div>

            <div class="container-main__see-more">
              <div>
                <a href="#"> Ver más <i class="bi bi-chevron-down"></i></a>
              </div>
            </div>
          </div>
        </section>

        <!-- MIS CONTACTOS -->
        <section
          class="col-xlg-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 container-sections__contacts"
        >
          <div class="container-main contactos">
            <!-- Encabezado sección contactos -->
            <div class="container-main__header">
              <div class="container-main__header--icon">
                <i class="bi bi-people-fill"></i>
                <p class="container-main__header--icon--text">MIS CONTACTOS</p>
              </div>
              <div class="container-main__header--dots">
                <i class="bi bi-three-dots-vertical"></i>
              </div>
            </div>

            <!-- Menú sección contactos -->
            <div class="container-main__menu">
              <nav>
                <ul class="container-main__menu--list-contacts">
                  <li>Contactos</li>
                  <li>Grupos</li>
                  <li>Relacionados</li>
                </ul>
              </nav>
            </div>

            <!-- Cuerpo principal sección contactos -->
            <div class="container-main__contacts">
              <div class="container-main__contacts--profile">
                <div class="container-main__contacts--profile--info">
                  <figure
                    class="container-main__contacts--profile--info--photo"
                  >
                    <img src="../../assets/images/perfil.jpg" alt="" />
                  </figure>
                  <div class="container-main__contacts--profile--info--description">
                    <div class="container-main__contacts--profile--info--description--name">
                      <a href="#">
                        <p>Raquel Laguna Soriano</p>
                      </a>
                    </div>
                    <div class="">
                      <p>Leader - ExD</p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <a href="#"><i class="bi bi-chevron-down"></i></a>
                </div>
              </div>

              <div class="container-main__contacts--profile">
                <div class="container-main__contacts--profile--info">
                  <figure
                    class="container-main__contacts--profile--info--photo"
                  >
                    <img src="../../assets/images/perfil.jpg" alt="" />
                  </figure>
                  <div class="container-main__contacts--profile--info--description">
                    <div class="container-main__contacts--profile--info--description--name">
                      <a href="#">
                        <p>Álvaro Ruiz Miranda</p>
                      </a>
                    </div>
                    <div class="">
                      <p>Student - IT</p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <a href="#"><i class="bi bi-chevron-down"></i></a>
                </div>
              </div>

              <div class="container-main__contacts--profile">
                <div class="container-main__contacts--profile--info">
                  <figure
                    class="container-main__contacts--profile--info--photo"
                  >
                    <img src="../../assets/images/perfil.jpg" alt="" />
                  </figure>
                  <div class="container-main__contacts--profile--info--description">
                    <div class="container-main__contacts--profile--info--description--name">
                      <a href="#">
                        <p>María López Segarra</p>
                      </a>
                    </div>
                    <div class="">
                      <p>Student - ExD</p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <a href="#"><i class="bi bi-chevron-down"></i></a>
                </div>
              </div>

              <div class="container-main__contacts--profile">
                <div class="container-main__contacts--profile--info">
                  <figure
                    class="container-main__contacts--profile--info--photo"
                  >
                    <img src="../../assets/images/perfil.jpg" alt="" />
                  </figure>
                  <div class="container-main__contacts--profile--info--description">
                    <div class="container-main__contacts--profile--info--description--name">
                      <a href="#">
                        <p>Miguel Pérez Lobera</p>
                      </a>
                    </div>
                    <div class="">
                      <p>Staff - ExD</p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <a href="#"><i class="bi bi-chevron-down"></i></a>
                </div>
              </div>

              <div class="container-main__contacts--profile">
                <div class="container-main__contacts--profile--info">
                  <figure
                    class="container-main__contacts--profile--info--photo"
                  >
                    <img src="../../assets/images/perfil.jpg" alt="" />
                  </figure>
                  <div class="container-main__contacts--profile--info--description">
                    <div class="container-main__contacts--profile--info--description--name">
                      <a href="#">
                        <p>Francisco Javier Martínez de la Fuente</p>
                      </a>
                    </div>
                    <div class="">
                      <p>Manger - IT</p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <a href="#"><i class="bi bi-chevron-down"></i></a>
                </div>
              </div>

              <div class="container-main__contacts--profile">
                <div class="container-main__contacts--profile--info">
                  <figure
                    class="container-main__contacts--profile--info--photo"
                  >
                    <img src="../../assets/images/perfil.jpg" alt="" />
                  </figure>
                  <div class="container-main__contacts--profile--info--description">
                    <div class="container-main__contacts--profile--info--description--name">
                      <a href="#">
                        <p>Sofía Beltrán Moreno</p>
                      </a>
                    </div>
                    <div class="">
                      <p>Leader - ExD</p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <a href="#"><i class="bi bi-chevron-down"></i></a>
                </div>
              </div>

              <div class="container-main__contacts--profile">
                <div class="container-main__contacts--profile--info">
                  <figure
                    class="container-main__contacts--profile--info--photo"
                  >
                    <img src="../../assets/images/perfil.jpg" alt="" />
                  </figure>
                  <div class="container-main__contacts--profile--info--description">
                    <div class="container-main__contacts--profile--info--description--name">
                      <a href="#">
                        <p>Raquel Laguna Soriano</p>
                      </a>
                    </div>
                    <div class="">
                      <p>Leader - ExD</p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <a href="#"><i class="bi bi-chevron-down"></i></a>
                </div>
              </div>

              <div class="container-main__contacts--profile">
                <div class="container-main__contacts--profile--info">
                  <figure
                    class="container-main__contacts--profile--info--photo"
                  >
                    <img src="../../assets/images/perfil.jpg" alt="" />
                  </figure>
                  <div class="container-main__contacts--profile--info--description">
                    <div class="container-main__contacts--profile--info--description--name">
                      <a href="#">
                        <p>Raquel Laguna Soriano</p>
                      </a>
                    </div>
                    <div class="">
                      <p>Leader - ExD</p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <a href="#"><i class="bi bi-chevron-down"></i></a>
                </div>
              </div>

              <div class="container-main__contacts--profile">
                <div class="container-main__contacts--profile--info">
                  <figure
                    class="container-main__contacts--profile--info--photo"
                  >
                    <img src="../../assets/images/perfil.jpg" alt="" />
                  </figure>
                  <div class="container-main__contacts--profile--info--description">
                    <div class="container-main__contacts--profile--info--description--name">
                      <a href="#">
                        <p>Raquel Laguna Soriano</p>
                      </a>
                    </div>
                    <div class="">
                      <p>Leader - ExD</p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <a href="#"><i class="bi bi-chevron-down"></i></a>
                </div>
              </div>

              <div class="container-main__contacts--profile">
                <div class="container-main__contacts--profile--info">
                  <figure
                    class="container-main__contacts--profile--info--photo"
                  >
                    <img src="../../assets/images/perfil.jpg" alt="" />
                  </figure>
                  <div class="container-main__contacts--profile--info--description">
                    <div class="container-main__contacts--profile--info--description--name">
                      <a href="#">
                        <p>Raquel Laguna Soriano</p>
                      </a>
                    </div>
                    <div class="">
                      <p>Leader - ExD</p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <a href="#"><i class="bi bi-chevron-down"></i></a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- NOTIFICACIONES -->
        <section
          class="col-xlg-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 container-sections__notifications"
        >
          <div class="container-main">
            <!-- Encabezado sección notificaciones -->
            <div class="container-main__header">
              <div class="container-main__header--icon">
                <i class="bi bi-bell-fill"></i>
                <p class="container-main__header--icon--text">NOTIFICACIONES</p>
              </div>
              <div class="container-main__header--dots">
                <i class="bi bi-three-dots-vertical"></i>
              </div>
            </div>

            <!-- Cuerpo principal sección notificaciones -->
            <div class="container-main__notifications">
              <div class="container-main__notifications--info">
                <label class="container">
                  Actualizar benchmark perfiles en proyecto
                  <input type="checkbox" checked="checked" />
                  <span class="checkmark"></span>
                </label>

                <div class="container-main__notifications--info--skm">
                  <p>SKM: intranet inteligente</p>
                </div>

                <div class="container-main__notifications--info--deadline">
                  <div class="container-main__notifications--info--deadline--exclamation">
                    <i class="bi bi-exclamation-circle-fill"></i>
                  </div>
                  <div>
                    <p>Deadline 19/06</p>
                  </div>
                </div>
              </div>
              <hr />
              <div class="container-main__notifications--info">
                <label class="container">
                  Actualizar documentos
                  <input type="checkbox" />
                  <span class="checkmark"></span>
                </label>

                <div class="container-main__notifications--info--skm">
                  <p>SKM: intranet inteligente</p>
                </div>

                <div class="container-main__notifications--info--deadline">
                  <div class="container-main__notifications--info--deadline--exclamation">
                    <i class="bi bi-exclamation-circle-fill"></i>
                  </div>
                  <div>
                    <p>Deadline 19/06</p>
                  </div>
                </div>
              </div>
              <hr />
              <div class="container-main__notifications--info">
                <label class="container">
                  Actualizar documentos
                  <input type="checkbox" />
                  <span class="checkmark"></span>
                </label>

                <div class="container-main__notifications--info--skm">
                  <p>SKM: intranet inteligente</p>
                </div>

                <div class="container-main__notifications--info--deadline">
                  <div class="container-main__notifications--info--deadline--exclamation">
                    <i class="bi bi-exclamation-circle-fill"></i>
                  </div>
                  <div>
                    <p>Deadline 19/06</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-main__see-more">
              <div>
                <a href="#"> Ver más <i class="bi bi-chevron-down"></i></a>
              </div>
            </div>
          </div>
        </section>

        <!-- PROYECTOS -->
        <section
          class="col-xlg-6 col-lg-4 col-md-12 col-sm-6 col-xs-12 container-sections__projects"
        >
          <div class="container-main proyectos">
            <!-- Encabezado sección proyectos -->
            <div class="container-main__header">
              <div class="container-main__header--icon">
                <i class="bi bi-folder-fill"></i>
                <p class="container-main__header--icon--text">PROYECTOS</p>
              </div>
              <div class="container-main__header--dots">
                <i class="bi bi-three-dots-vertical"></i>
              </div>
            </div>

            <!-- Menu sección proyectos -->
            <div class="container-main__menu">
              <div class="container-main__menu--status">
                <div class="status-project current">
                  <a href="#"> En curso </a>
                </div>
                <div class="status-project related">
                  <a href="#"> Relacionados </a>
                </div>
                <div class="status-project closed">
                  <a href="#"> Cerrados </a>
                </div>
              </div>
            </div>

            <!-- Cuerpo principal sección proyectos -->
            <div class="container-main__projects">
              <div class="container-main__projects--info">
                <div class="container-main__projects--info--name">
                  <p><a href="#"> SKM: intranet inteligente </a></p>
                </div>
                <div class="container-main__projects--info--type">
                  <p>Proyecto interno</p>
                </div>
                <div class="container-main__projects--info--buttons">
                  <div
                    class="container-main__projects--info--buttons--button-one"
                  >
                    <p>Intranet</p>
                  </div>
                  <div
                    class="container-main__projects--info--buttons--button-two"
                  >
                    <p>Buscador inteligente</p>
                  </div>
                  <div
                    class="container-main__projects--info--buttons--button-three"
                  >
                    <p>+2</p>
                  </div>
                </div>
              </div>

              <div class="container-main__projects--info">
                <div class="container-main__projects--info--name">
                  <p><a href="#"> SKM: intranet inteligente </a></p>
                </div>
                <div class="container-main__projects--info--type">
                  <p>Proyecto interno</p>
                </div>
                <div class="container-main__projects--info--buttons">
                  <div
                    class="container-main__projects--info--buttons--button-one"
                  >
                    <p>Intranet</p>
                  </div>
                  <div
                    class="container-main__projects--info--buttons--button-two"
                  >
                    <p>Buscador inteligente</p>
                  </div>
                  <div
                    class="container-main__projects--info--buttons--button-three"
                  >
                    <p>+2</p>
                  </div>
                </div>
              </div>

              <div class="container-main__projects--info">
                <div class="container-main__projects--info--name">
                  <p><a href="#"> SKM: intranet inteligente </a></p>
                </div>
                <div class="container-main__projects--info--type">
                  <p>Proyecto interno</p>
                </div>
                <div class="container-main__projects--info--buttons">
                  <div
                    class="container-main__projects--info--buttons--button-one"
                  >
                    <p>Intranet</p>
                  </div>
                  <div
                    class="container-main__projects--info--buttons--button-two"
                  >
                    <p>Buscador inteligente</p>
                  </div>
                  <div
                    class="container-main__projects--info--buttons--button-three"
                  >
                    <p>+2</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-main__see-more">
              <div>
                <a href="#"> Ver más <i class="bi bi-chevron-down"></i></a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
