<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/front-modules.css">
    <link rel="stylesheet" href="skmo/skmo-css/skmo-modules.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script type="text/javascript" src="../libs/dependencies.js"></script>
    <script type="module" src="../js/front-dev.js"></script>
    <script src="https://kit.fontawesome.com/6796faa355.js" crossorigin="anonymous"></script>
    <title>Index | Front Seed</title>
</head>

<body>



    <!-- encabezado -->
    <header>

        <div class="BG">

            <nav class="container-nav">

                <div class="container-left-320">
                    <div class="container-hamburguesa">
                        <input type="checkbox" id="boton-menu">
                        <label id="hamburguesa" for="boton-menu"><i class="bi bi-list"
                                alt="menu desplegable"></i></label>
                    </div>

                    <div class="container-logo-320">
                        <div class="logo-320">
                            <div>
                                <img src="https://images.squarespace-cdn.com/content/v1/5c52b2063917ee2ea23f9031/1579517425844-PB8BHE5EYVVF87O5FM4C/everis-logo.png"
                                    alt="logo pequeño empresa">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="nav">



                    <!-- logotipo -->
                    <div class="logo">
                        <div class="everis">everis</div>
                        <div class="knowler">knowler</div>
                    </div>

                    <!-- buscador -->
                    <div class="navegacion">
                        <input type="text" class="rectangulo" placeholder="proyecto skm" />
                        <i class="bi bi-search icon" alt="icono lupa busqueda"></i>
                    </div>

                    <!-- menu -->
                    <div class="menu">
                        <ul>
                            <li class="iconos"><a href="#"><i class="bi bi-house-door-fill"></i>
                                    <p>Inicio</p>
                                </a></li>
                            <li class="iconos"><a href="#"><i class="bi bi-grid-3x3-gap-fill"></i>
                                    <p>Aplicaciones</p>
                                </a></li>
                            <li class="iconos"><a href="#"><i class="bi bi-globe"></i>
                                    <p>Comunidades</p>
                                </a></li>
                            <li class="iconos"><a href="#"><i class="bi bi-boxes"></i>
                                    <p>everPedia</p>
                                </a></li>
                        </ul>
                    </div>
                </div>

                <!-- perfil -->
                <div class="perfil">

                    <div class="container-lupa-360">

                        <div class="lupa-360">
                            <div>
                                <i class="bi bi-search" alt="icono lupa busqueda"></i>
                            </div>
                        </div>
                    </div>

                    <div class="campana">
                        <a href="#"><i class="bi bi-bell-fill"></i>
                            <div class="numero-notificaciones"> 7 </div>
                        </a>
                    </div>

                    <div class="container-foto">
                        <div class="foto">
                            <img src="../../assets/images/klipartz.com.png" alt="">
                        </div>
                    </div>
                    <div class="container-desplegable">
                        <a><i class="bi bi-caret-down-fill"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 container-sections">

            <!-- EVENTOS -->
            <section class="col-xlg-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 section-1">
                <div class="contenedores-main eventos">
                    <div class=" encabezado-contenedores-main">
                        <div class="icono-texto-main"><i class="bi bi-table"></i>
                            <p class="texto-main"> EVENTOS </p>
                        </div>
                        <div class="puntos-contenedores-main"><i class="bi bi-three-dots-vertical"></i></div>
                    </div>

                    <div class="container-eventos">

                        <div class="hoy">
                            <p> HOY </p>
                        </div>

                        <div class="caja-hora">
                            <div class="hora"> 11:00 </div>
                            <div class="info-hora">
                                <div class="enlace-evento">
                                    <p><a href="#"> SKM Wireframes Checkpoint </a></p>
                                </div>
                                <div>
                                    <p> 11:00 a 12:00 - Sala 446 </p>
                                </div>
                            </div>
                        </div>

                        <div class="caja-hora">
                            <div class="hora"> 13:00 </div>
                            <div class="info-hora">
                                <div class="enlace-evento">
                                    <p><a href="#"> SKM chill out </a></p>
                                </div>
                                <div>
                                    <p> 13:00 a 13:40 - Sala 446 </p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <p> MAÑANA </p>
                        </div>

                        <div class="caja-hora">
                            <div class="hora"> 11:00 </div>
                            <div class="info-hora">
                                <div class="enlace-evento">
                                    <p><a href="#"> SKM Wireframes check </a></p>
                                </div>
                                <div>
                                    <p> 11:00 a 12:00 - Sala 446 </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ver-mas">
                        <div><a href="#">Ver más <i class="bi bi-chevron-down"></i></a></div>
                    </div>
                </div>
            </section>

            <!-- MAILS -->
            <div class="col-xlg-6 col-lg-4 col-md-6 col-sm-6 col-xs-12 section-2">

                <div class="contenedores-main mails">

                    <div class="encabezado-contenedores-main">
                        <div class="icono-texto-main"><i class="bi bi-envelope-fill"></i>
                            <p class="texto-main">MAILS</p>
                        </div>
                        <div class="puntos-contenedores-main"><i class="bi bi-three-dots-vertical"></i></div>
                    </div>

                    <div class="container-mail">
                        <div class="mensaje">
                            <div class="datetime"> 20/06/2017 - 13:00 </div>
                            <div class="perfil-mail">
                                <figure class="imagen-mail"><img src="../../assets/images/perfil.jpg" alt=""></figure>
                                <p> Francisco Javier Fernández </p>
                            </div>
                            <div class="enlace-mensaje"><a href="#">
                                    <p> Nuevas versinoes de las pantallas </p>
                                </a></div>
                            <div class="texto-mensaje">
                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias nulla dolore
                                    eum deserunt veritatis praesentium inventore amet quasi, ex sit explicabo tempore
                                    corrupti esse beatae? Iusto amet fugiat quibusdam. </p>
                            </div>
                        </div>

                        <div class="mensaje">
                            <div class="datetime"> 20/06/2017 - 13:00 </div>
                            <div class="perfil-mail">
                                <figure class="imagen-mail"><img src="../../assets/images/perfil.jpg" alt=""></figure>
                                <p> Francisco Javier Fernández </p>
                            </div>
                            <div class="enlace-mensaje"><a href="#">
                                    <p> Nuevos datos password (Invision/Zeplin... </p>
                                </a></div>
                            <div class="texto-mensaje">
                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias nulla
                                    dolore
                                    eum deserunt veritatis praesentium inventore amet quasi, ex sit explicabo
                                    tempore
                                    corrupti esse beatae? Iusto amet fugiat quibusdam. </p>
                            </div>
                        </div>

                        <div class="mensaje">
                            <div class="datetime"> 20/06/2017 - 13:00 </div>
                            <div class="perfil-mail">
                                <figure class="imagen-mail"><img src="../../assets/images/perfil.jpg" alt=""></figure>
                                <p> Francisco Javier Fernández </p>
                            </div>
                            <div class="enlace-mensaje"><a href="#">
                                    <p> Nuevas versinones de las pantallas </p>
                                </a></div>
                            <div class="texto-mensaje">
                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias nulla
                                    dolore
                                    eum deserunt veritatis praesentium inventore amet quasi, ex sit explicabo
                                    tempore
                                    corrupti esse beatae? Iusto amet fugiat quibusdam. </p>
                            </div>
                        </div>

                    </div>

                    <div class="ver-mas">
                        <div><a href="#"> Ver más <i class="bi bi-chevron-down"></i></a></div>
                    </div>
                </div>
            </div>

            <!-- MIS CONTACTOS -->
            <div class="col-xlg-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 section-3">
                <div class="contenedores-main contactos">

                    <!-- encabezado -->
                    <div class="encabezado-contenedores-main">
                        <div class="icono-texto-main"><i class="bi bi-people-fill"></i>
                            <p class="texto-main">MIS CONTACTOS</p>
                        </div>
                        <div class="puntos-contenedores-main"><i class="bi bi-three-dots-vertical"></i></div>
                    </div>

                    <!-- menú encabezado -->
                    <div class="menu-encabezado-contenedores-main">
                        <nav>
                            <ul class="menu-contactos">
                                <li> Contactos </li>
                                <li> Grupos </li>
                                <li> Relacionados </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- contactos -->
                    <div class="container-contactos">

                        <div class="contacto">
                            <div class="container-imagen-info">
                                <figure class="imagen-contacto"><img src="../../assets/images/perfil.jpg" alt="">
                                </figure>
                                <div class="info-contacto">
                                    <div class="nombre-contacto"><a href="#">
                                            <p> Raquel Laguna Soriano </p>
                                        </a></div>
                                    <div class="categoria-contacto">
                                        <p> Leader - ExD </p>
                                    </div>
                                </div>
                            </div>
                            <div class="icono-desplegable"><a href="#"><i class="bi bi-chevron-down"></i></a></div>
                        </div>

                        <div class="contacto">
                            <div class="container-imagen-info">
                                <figure class="imagen-contacto"><img src="../../assets/images/perfil.jpg" alt="">
                                </figure>
                                <div class="info-contacto">
                                    <div class="nombre-contacto"><a href="#">
                                            <p> Álvaro Ruiz Miranda </p>
                                        </a></div>
                                    <div class="categoria-contacto">
                                        <p> Student - IT </p>
                                    </div>
                                </div>
                            </div>
                            <div class="icono-desplegable"><a href="#"><i class="bi bi-chevron-down"></i></a></div>
                        </div>

                        <div class="contacto">
                            <div class="container-imagen-info">
                                <figure class="imagen-contacto"><img src="../../assets/images/perfil.jpg" alt="">
                                </figure>
                                <div class="info-contacto">
                                    <div class="nombre-contacto"><a href="#">
                                            <p> María López Segarra </p>
                                        </a></div>
                                    <div class="categoria-contacto">
                                        <p> Student - ExD </p>
                                    </div>
                                </div>
                            </div>
                            <div class="icono-desplegable"><a href="#"><i class="bi bi-chevron-down"></i></a></div>
                        </div>

                        <div class="contacto">
                            <div class="container-imagen-info">
                                <figure class="imagen-contacto"><img src="../../assets/images/perfil.jpg" alt="">
                                </figure>
                                <div class="info-contacto">
                                    <div class="nombre-contacto"><a href="#">
                                            <p> Miguel Pérez Lobera </p>
                                        </a></div>
                                    <div class="categoria-contacto">
                                        <p> Staff - ExD </p>
                                    </div>
                                </div>
                            </div>
                            <div class="icono-desplegable"><a href="#"><i class="bi bi-chevron-down"></i></a></div>
                        </div>

                        <div class="contacto">
                            <div class="container-imagen-info">
                                <figure class="imagen-contacto"><img src="../../assets/images/perfil.jpg" alt="">
                                </figure>
                                <div class="info-contacto">
                                    <div class="nombre-contacto"><a href="#">
                                            <p> Francisco Javier Martínez de la Fuente </p>
                                        </a></div>
                                    <div class="categoria-contacto">
                                        <p> Manger - IT </p>
                                    </div>
                                </div>
                            </div>
                            <div class="icono-desplegable"><a href="#"><i class="bi bi-chevron-down"></i></a></div>
                        </div>

                        <div class="contacto">
                            <div class="container-imagen-info">
                                <figure class="imagen-contacto"><img src="../../assets/images/perfil.jpg" alt="">
                                </figure>
                                <div class="info-contacto">
                                    <div class="nombre-contacto"><a href="#">
                                            <p> Sofía Beltrán Moreno </p>
                                        </a></div>
                                    <div class="categoria-contacto">
                                        <p> Leader - ExD </p>
                                    </div>
                                </div>
                            </div>
                            <div class="icono-desplegable"><a href="#"><i class="bi bi-chevron-down"></i></a></div>
                        </div>

                        <div class="contacto">
                            <div class="container-imagen-info">
                                <figure class="imagen-contacto"><img src="../../assets/images/perfil.jpg" alt="">
                                </figure>
                                <div class="info-contacto">
                                    <div class="nombre-contacto"><a href="#">
                                            <p> Raquel Laguna Soriano </p>
                                        </a></div>
                                    <div class="categoria-contacto">
                                        <p> Leader - ExD </p>
                                    </div>
                                </div>
                            </div>
                            <div class="icono-desplegable"><a href="#"><i class="bi bi-chevron-down"></i></a></div>
                        </div>

                        <div class="contacto">
                            <div class="container-imagen-info">
                                <figure class="imagen-contacto"><img src="../../assets/images/perfil.jpg" alt="">
                                </figure>
                                <div class="info-contacto">
                                    <div class="nombre-contacto"><a href="#">
                                            <p> Raquel Laguna Soriano </p>
                                        </a></div>
                                    <div class="categoria-contacto">
                                        <p> Leader - ExD </p>
                                    </div>
                                </div>
                            </div>
                            <div class="icono-desplegable"><a href="#"><i class="bi bi-chevron-down"></i></a>
                            </div>
                        </div>

                        <div class="contacto">
                            <div class="container-imagen-info">
                                <figure class="imagen-contacto"><img src="../../assets/images/perfil.jpg" alt="">
                                </figure>
                                <div class="info-contacto">
                                    <div class="nombre-contacto"><a href="#">
                                            <p> Raquel Laguna Soriano </p>
                                        </a></div>
                                    <div class="categoria-contacto">
                                        <p> Leader - ExD </p>
                                    </div>
                                </div>
                            </div>
                            <div class="icono-desplegable"><a href="#"><i class="bi bi-chevron-down"></i></a>
                            </div>
                        </div>


                        <div class="contacto">
                            <div class="container-imagen-info">
                                <figure class="imagen-contacto"><img src="../../assets/images/perfil.jpg" alt="">
                                </figure>
                                <div class="info-contacto">
                                    <div class="nombre-contacto"><a href="#">
                                            <p> Raquel Laguna Soriano </p>
                                        </a></div>
                                    <div class="categoria-contacto">
                                        <p> Leader - ExD </p>
                                    </div>
                                </div>
                            </div>
                            <div class="icono-desplegable"><a href="#"><i class="bi bi-chevron-down"></i></a>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

            <!-- NOTIFICACIONES -->
            <div class="col-xlg-3  col-lg-4 col-md-6 col-sm-6 col-xs-12 section-4">
                <div class="contenedores-main notificaciones1">

                    <div class="encabezado-contenedores-main">
                        <div class="icono-texto-main"><i class="bi bi-bell-fill"></i>
                            <p class="texto-main">NOTIFICACIONES</p>
                        </div>
                        <div class="puntos-contenedores-main"><i class="bi bi-three-dots-vertical"></i></div>
                    </div>

                    <div class="container-notificaciones">

                        <div class="cajas-notificaciones">
                            <label class="container"> Actualizar benchmark perfiles en proyecto
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>

                            <div class="skm">
                                <p> SKM: intranet inteligente </p>
                            </div>

                            <div class="fecha-tope">
                                <div class="exclamacion"><i class="bi bi-exclamation-circle-fill"></i></div>
                                <div>
                                    <p> Deadline 19/06 </p>
                                </div>
                            </div>

                        </div>
                        <hr>
                        <div class="cajas-notificaciones">
                            <label class="container"> Actualizar documentos
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>

                            <div class="skm">
                                <p> SKM: intranet inteligente </p>
                            </div>

                            <div class="fecha-tope">
                                <div class="exclamacion"><i class="bi bi-exclamation-circle-fill"></i></div>
                                <div>
                                    <p> Deadline 19/06 </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="cajas-notificaciones">
                            <label class="container"> Actualizar documentos
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>

                            <div class="skm">
                                <p> SKM: intranet inteligente </p>
                            </div>

                            <div class="fecha-tope">
                                <div class="exclamacion"><i class="bi bi-exclamation-circle-fill"></i></div>
                                <div>
                                    <p> Deadline 19/06 </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="ver-mas">
                        <div><a href="#"> Ver más <i class="bi bi-chevron-down"></i></a></div>
                    </div>
                </div>

            </div>

            <!-- PROYECTOS -->
            <div class="col-xlg-6  col-lg-4 col-md-12 col-sm-6 col-xs-12 section-5">
                <div class="contenedores-main proyectos">
                    <div class="encabezado-contenedores-main">
                        <div class="icono-texto-main"><i class="bi bi-folder-fill"></i>
                            <p class="texto-main">PROYECTOS</p>
                        </div>
                        <div class="puntos-contenedores-main"><i class="bi bi-three-dots-vertical"></i></div>
                    </div>

                    <div class="menu-encabezado-contenedores-main-proyecto">
                        <div class="container-estados">
                            <div class="estados-proyectos estado-1"> En curso </div>
                            <div class="estados-proyectos estado-2"> Relacionados </div>
                            <div class="estados-proyectos estado-3"> Cerrados </div>
                        </div>
                    </div>

                    <div class="container-proyectos">

                        <div class="cajas-proyectos">
                            <div class="proyecto">
                                <p><a href="#"> SKM: intranet inteligente </a></p>
                            </div>
                            <div class="tipo-proyecto">
                                <p> Proyecto interno </p>
                            </div>
                            <div class="botones-proyectos">
                                <div class="boton-1">
                                    <p> Intranet </p>
                                </div>
                                <div class="boton-2">
                                    <p> Buscador inteligente </p>
                                </div>
                                <div class="boton-3">
                                    <p> +2 </p>
                                </div>
                            </div>
                        </div>

                        <div class="cajas-proyectos">
                            <div class="proyecto">
                                <p><a href="#"> SKM: intranet inteligente </a></p>
                            </div>
                            <div class="tipo-proyecto">
                                <p> Proyecto interno </p>
                            </div>
                            <div class="botones-proyectos">
                                <div class="boton-1">
                                    <p> Intranet </p>
                                </div>
                                <div class="boton-2">
                                    <p> Buscador inteligente </p>
                                </div>
                                <div class="boton-3">
                                    <p> +2 </p>
                                </div>
                            </div>
                        </div>

                        <div class="cajas-proyectos">
                            <div class="proyecto">
                                <p><a href="#"> SKM: intranet inteligente </a></p>
                            </div>
                            <div class="tipo-proyecto">
                                <p> Proyecto interno </p>
                            </div>
                            <div class="botones-proyectos">
                                <div class="boton-1">
                                    <p> Intranet </p>
                                </div>
                                <div class="boton-2">
                                    <p> Buscador inteligente </p>
                                </div>
                                <div class="boton-3">
                                    <p> +2 </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ver-mas">
                        <div><a href="#"> Ver más <i class="bi bi-chevron-down"></i></a></div>
                    </div>
                </div>

            </div>
    </main>
</body>

</html>